version: "3.8"

services:

  # ------------------------
  # Zookeeper (Kafka)
  # ------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  # ------------------------
  # Kafka
  # ------------------------
  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  # ------------------------
  # PostgreSQL
  # ------------------------
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: data_pipeline
    ports:
      - "5432:5432"

  # ------------------------
  # Elasticsearch
  # ------------------------
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"

  # ------------------------
  # Kibana
  # ------------------------
  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.1
    container_name: kibana
    depends_on:
      - elasticsearch
    environment:
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
    ports:
      - "5601:5601"
  
  # ------------------------
  # Airflow
  # ------------------------
  airflow-webserver:
    image: apache/airflow:2.8.1
    container_name: airflow-webserver
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://admin:admin@postgres:5432/data_pipeline
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER__SECRET_KEY: local-test-secret-key
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: data_pipeline
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./consumer:/opt/airflow/consumer
      - ./elastic:/opt/airflow/elastic
      - ./producer:/opt/airflow/producer
      - ./sql:/opt/airflow/sql
      - ./config.yaml:/opt/airflow/config.yaml
      - ./airflow/requirements.txt:/requirements.txt
    ports:
      - "8080:8080"
    command: >
      bash -c "pip install -r /requirements.txt &&
               airflow db migrate &&
               airflow users create \
               --username admin \
               --password admin \
               --firstname admin \
               --lastname admin \
               --role Admin \
               --email admin@example.com || true &&
               airflow webserver"

  airflow-scheduler:
    image: apache/airflow:2.8.1
    container_name: airflow-scheduler
    depends_on:
      - airflow-webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://admin:admin@postgres:5432/data_pipeline
      AIRFLOW__WEBSERVER__SECRET_KEY: local-test-secret-key
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: data_pipeline
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./consumer:/opt/airflow/consumer
      - ./elastic:/opt/airflow/elastic
      - ./producer:/opt/airflow/producer
      - ./sql:/opt/airflow/sql
      - ./config.yaml:/opt/airflow/config.yaml
      - ./airflow/requirements.txt:/requirements.txt
    command: >
      bash -c "pip install -r /requirements.txt &&
               airflow scheduler"

  # ------------------------
  # data generator
  # ------------------------
  api_simulator:
    build: ./producer
    container_name: api_simulator
    depends_on:
      - kafka
    volumes:
      - ./config.yaml:/config.yaml
    restart: unless-stopped
